<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href= "{% url "home" %}">Home</a></li
                {% if user.is_authenticated %}
                <li><a href= "{% url "logout" %}" >Logout</a></li>
                {% endif %}
                <li><a href= "{% url "login" %}">Login</a></li>
                <li><a href= "{% url "signup" %}">Signup</a></li>
                <li><a href= "{% url "create_receipt" %}">Create</a></li>
                <li><a href= "{% url "category_list" %}">Category</a></li>
                <li><a href= "{% url "account_list" %}">Accounts</a></li>
            <ul>
        </nav>
    </header>
   <main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for ban in accounts %}
            <tr>
                <td>{{ ban.name }}</td>
                <td>{{ ban.number }}</td>
                <td>{{ ban.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   </main>
</body>
</html>
