<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href= "{% url "home" %}">Home</a></li
                    {% if user.is_authenticated %}
                    <li><a href= "{% url "logout" %}" >Logout</a></li>
                    {% endif %}
                    <li><a href= "{% url "login" %}">Login</a></li>
                    <li><a href= "{% url "signup" %}">Signup</a></li>
                    <li><a href= "{% url "create_receipt" %}">Create</a></li>
                    <li><a href= "{% url "category_list" %}">Category</a></li>
                    <li><a href= "{% url "account_list" %}">Accounts</a></li>
                <ul>
            </nav>
        </header>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for this in receipts %}
                    <tr>
                        <td>{{ this.vendor }}</td>
                        <td>{{ this.total }}</td>
                        <td>{{ this.tax }}</td>
                        <td>{{ this.date|date:"m/d/y"}}</td>
                        <td>{{ this.category }}</td>
                        <td>{{ this.account }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
